<!-- Latest compiled and minified CSS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class='container-fluid'>
  <br />
  <br />
  <br />
  <br />

  <div class='row'>
    <div style="width: 100%; display: table;">
        <div class="col-md-3" style="display: table-cell; margin: 25px; text-align: center; padding: 10px; background: #f0f0f0; border-radius: 5px; font-size: 14px; font-weight: bold;">
            Produk-produk yang disediakan oleh <%- user.name %>
        </div>
        <a class="col-md-2 btn btn-primary" href="/item/create_page" style="display: table-cell; margin-top: 25px; text-align: center; padding: 10px; border-radius: 5px; font-size: 14px; font-weight: bold;">
                Tambah Produk
        </a>
    </div>
    <div class="col-md-12">
      <% items.forEach(function(el, index) { %>
        <div class='col-md-3' style="text-align: center; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; background: #f0f0f0; border-radius: 5px; margin-left: 10px; margin-right: 10px; margin-bottom: 30px;">
          <a href="/item/<%- el.id %>/view">
            <img src="<%- el.image %>" alt="profile" class="img-thumbnail">
          </a>
          <div style="background: white; width: 100%; text-align: center; padding-top: 5px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px; margin-top: 15px; border-radius: 5px;">
              <div style="width: 100%; text-align: left; font-size: 20px; font-weight: bold;">
                  <p><%- el.name %></p>
              </div>
              <div style="width: 100%; font-size: 14px; font-weight: bold; display: table;">
                  <div style="width: 50%; text-align: left; display: table-cell;">
                      <p>IDR <%- el.price %></p>
                  </div>
                  <div style="width: 50%; text-align: right; display: table-cell;">
                      <p>terbeli <%- Math.floor(Math.random() * (31 - 0 + 1)) + 0 %> kali</p>
                  </div>
              </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
